
.roberto {
    border: solid rgba(0, 0, 0, 0.429) 0px;
    height: 260px;
    width: 260px;
    box-shadow: 100%;
    text-align: center;
}
.detalle {
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    height: 200px;
    width: auto;
}

.boto {
    font-size: 12px;
    border: solid black 1px;
}
.tittle{
    font-size: 20px;
}

.precio {
    font-size: 16px;
}